html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: black;
  border: 10px solid black;
  width: 500px;
  height: 500px;
}

.item {
  font-size: 21px;
  font-weight: 600;
  color: grey;
  padding: 4px;
}

/* --------------------------------------------------------------------------------
 # Start writing your code here 
 -------------------------------------------------------------------------------- */

.grid-container {
  display: grid;
  grid-gap: 10px;

  /* Define grid-template-rows & grid-template-columnes here */
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.a {
  grid-row-start: 1;
  grid-column-end: span 4;
  background-color: white;
}

.b {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 3;
  background-color: red;
}

.c {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 4;
  grid-column-end: span 1;
}

.d {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: yellow;
}

.e {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  background-color: white;
}

.f {
  grid-row-start: 3;
  grid-row-end: span 2;
  grid-column-start: 4;
  grid-column-end: span 1;
  background-color: blue;
}
