/*---- Common ----*/
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.section {
  margin-bottom: 64px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

/*---- Menu ----*/
.menu-bar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}

.menu-bar {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .menu-bar {
    height: 96px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.logo {
  height: 20px;
}

.nav-list {
  display: flex;
}

/*
.nav-item:first-child {
  margin-left: 0px;
}

.nav-item {
  margin-left: 24px;
}
*/

.nav-item:not(:first-child) {
  margin-left: 24px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav-link:hover {
  color: #f87060;
}

.nav-link:active {
  opacity: 0.5;
}

/*---- Hero Section ----*/
.hero-section {
  background-image: url('../images/hero-background.jpg'); /* Photo by Nicholas Kampouris on Unsplash */
  background-size: cover;
  background-position: center center;
  height: 720px;
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
  padding-top: 128px;
}

/*---- Collection Section ----*/
.collection-item {
  background-size: cover;
  background-position: 50% 82%;
  padding: 24px;
  border-radius: 8px;
}

.collection-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.collection-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-areas:
    "first first second third"
    "first first fourth fourth";
}

.collection-item-one {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url('../images/classic-collection.jpg'); /* Photo by NordWood Themes on Unsplash */
  /* grid-row-start: 1; */
  /* grid-row-end: span 2; */
  /* grid-column-start: 1; */
  /* grid-column-end: span 2; */
  grid-area: first;
}

.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/sport-collection.jpg'); /* Photo by Tom Radetzki on Unsplash */
  /* grid-row-start: 1; */
  /* grid-row-end: span 1; */
  /* grid-column-start: 3; */
  /* grid-column-end: span 1; */
  grid-area: second;
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/sandal-collection.jpg'); /* Photo by Andy Garza on Unsplash */
  /* grid-row-start: 1; */
  /* grid-row-end: span 1; */
  /* grid-column-start: 4; */
  /* grid-column-end: span 1; */
  grid-area: third;
}

.collection-item-four {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)),
    url('../images/casual-collection.jpg'); /* Photo by Trendest Studio on Unsplash */
  /* grid-row-start: 2; */
  /* grid-row-end: span 1; */
  /* grid-column-start: 3; */
  /* grid-column-end: span 2; */
  grid-area: fourth;
}

/*---- Product Section ----*/
.product-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-item {
  width: calc(100% / 3);
  margin-bottom: 16px;
  padding: 0px 16px;
  position: relative;
}

.product-label {
  position: absolute;
  background-color: #f87060;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
  top: 24px;
  left: -8px;
}

.product-item-image {
  width: 100%;
  height: 250px;
  border-radius: 18px;
  margin-bottom: 12px;
  object-fit: cover;
}

.price {
  margin-top: 24px;
}

.price::after {
  content: " Baht";
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

/*---- About Section ----*/
.about-content {
  display: flex;
}

.about-image {
  width: 50%;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 24px;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*---- Social Section ----*/
.social-list {
  position: fixed;
  right: 72px;
  bottom: 60px;
}

.social-logo {
  width: 60px;
}

/*---- Effects ----*/
.hover-elevate {
  transition: box-shadow 0.1s ease-out 0s, transform 0.1s ease-out 0s;
  cursor: pointer;
}

.hover-elevate:hover {
  box-shadow: rgba(32, 32, 32, 0.05) 0px 16px 16px 0px,
    rgba(42, 42, 42, 0.05) 0px 8px 8px 0px,
    rgba(49, 49, 49, 0.05) 0px 4px 4px 0px,
    rgba(45, 45, 45, 0.05) 0px 2px 2px 0px,
    rgba(35, 35, 35, 0.05) 0px 64px 64px 0px,
    rgba(49, 49, 49, 0.05) 0px 32px 32px 0px;
  transform: translateY(-10px);
}

.hover-elevate:active {
  box-shadow: none;
}
